<section class="form-section">
    <h1 class="form-heading">SignUp Form</h1>
    <br>

<form [formGroup]="signupForm" (ngSubmit)="sendSignupData()" class="mat-form">
  <mat-form-field appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput type="text" formControlName="username" required minlength="3">
    <mat-error *ngIf="signupForm.get('username')?.invalid && (signupForm.get('username')?.dirty || signupForm.get('username')?.touched)">
      <ng-container *ngIf="signupForm.get('username')?.errors?.['required']">User Name is required</ng-container>
      <ng-container *ngIf="signupForm.get('username')?.errors?.['pattern']">Only alphabet</ng-container>
      <ng-container *ngIf="signupForm.get('username')?.errors?.['minlength']">User Name must be at least 3 characters long</ng-container>
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Email Id</mat-label>
    <input matInput type="email" formControlName="email" required>
    <mat-error *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">
      <ng-container *ngIf="signupForm.get('email')?.errors?.['required']">Email Id is required</ng-container>
      <ng-container *ngIf="signupForm.get('email')?.errors?.['email']">Email Id must be a valid email address</ng-container>
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required minlength="6">
    <mat-error *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
      <ng-container *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</ng-container>
      <ng-container *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</ng-container>
    </mat-error>
  </mat-form-field>
  <br>


  <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">SignUp</button>
</form>
</section>
